@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee&family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --verdim: #0ada52;
    --cinza: #292929;
    --escuro: #181818;
    --cinza-claro: #464646;
}
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color:  var(--escuro);
}

#Principal {
    background-color: var(--cinza-claro); 
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

header {
    background-color: var(--escuro);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

a button {
    border-radius: 20px;
    background-color: var(--cinza-claro);
    margin-left: 40px;
    margin-bottom: 5px;
}
a button p {
    color: --verdim;
}

article button {
    background-color: var(--cinza-claro) ;
    color: var(--verdim);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: solid 1px var(--verdim);
    margin-top: 10px;
}
article button .primeiro{
    background-color: red;
}

p a:visited {
    color: var(--verdim);
}

p a{
    color: var(--verdim);
}

p a:hover  {
    filter: brightness(170%);
    text-decoration: underline;
}

/*NAV'S*/

nav ul li {
    display: inline-block;
    margin: 10px;
}
nav {
    background-color: var(--escuro);      
}
nav img{
    width: 40px;
}

nav ul{
    text-align: center;
    align-items: center;
}

#menu {
    padding: 0 20px;
}

#menu li {
    margin: 10px 0;
}

#menu-contraido {
    position: relative;
}

#menu-contraido input, #menu-contraido span {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#menu-contraido input {
    z-index: 100; 
    opacity: 0; 
    display: none; 
}

#menu-contraido span {
    display: block;
    background-color: var(--cinza);
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    background-image: url('img/menu-icon-48x48.png');
    background-size: 40px 40px;
    background-position: center center;
    cursor: pointer; 
    display: none; 
}

#menu-contraido input:checked ~ span {
    background-image: url('img/close-icon-48x48.png');
}
/*REDES SOCIAIS*/

#Rede-Social a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#Rede-Social a span {
    margin-left: 6px;
    display: none;
}
#Rede-Social a:hover span {
    display: inline;
}
#Rede-Social {
    display: auto;
}

/*MENU*/
.menu{
    font-family: Bungee, Calibri, Arial;
    background-color: var(--cinza);
}
.menu li{
    margin: 5px;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--cor-menu);
}
.menu ul li {
    display: inline;
    position: relative;
}
.menu a{
    color: var(--verdim);
    text-decoration: none;
    display: inline-block;
    padding: 9px 30px;
    transition: 0.6s;
    height: 100%;
}
.menu ul li a:hover {
    background-color: var(--cor-menu);
    padding: 9px 50px;
}
.menu ul li ul li a:hover{
    padding: 9px;
}
.menu ul li ul li{
    margin: 0;
}
.menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}
.menu ul li:hover ul {
    display: block;
}
.menu ul li a:hover ul {
    display: inline-block;
}
.menu ul ul {
    width: 100%;
}
.menu ul ul li a {
    display: block;
}

ul{
    margin-block-end: 1em;
}

img {
    border-radius: 10px;
}
.pesquisa{
    border: 1px solid var(--verdim);
    height: 50px;
    margin: 30px 20px;
    border-radius: 10px;
    display: flex;
}
#barra{
    height: 40px;
    width: 450px;
    color: white;
    border: 1px solid var(--verdim);
    border-radius: 10px;
    margin: 5px;
    background-color: var(--cinza);
    padding: 10px;
}
.pesquisa i{
    font-size: 15px;
}
#barra::placeholder{
    padding-left: 25px;
    color: var(--verdim);
    font-size: 18px;
}
.pesquisa button{
    border-radius: 20px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: var(--cinza) solid 2px;
}

/*FOOTERS*/

footer {
    color: var(--verdim);
    background-color: var(--cor-primaria);
    padding: auto;
    display: flex;
    justify-content: space-evenly;
}

footer a{
    color: var(--verdim);
} 
footer #fotoC1{
    width:10%;                              
} 
footer ul li {
    display: inline-block;
    padding: 0 12px;
    border-right: 3px solid var(--cinza);
}
footer ul li:last-child {
    border-right: none;
}
footer #local {
    width: 6%;
    height: 6%;
}

/*MAiN*/

main, aside {
    background-color: var(--cinza);
    padding: 24px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    max-width: 180vh;
    max-height: 70%;
}

main {
    width: 75%;
}

main > article > h2{ 
    text-transform: uppercase;
    color: var(--verdim);
}

/*ASIDE*/

aside {
    margin-left: 20px;
    background-color: ver;
    width: 150px;
}

aside p{
    font-family: Arial, Helvetica, sans-serif;
}

aside > article > a > img {
    display: block;
    margin: auto;
    border-radius: 30px;
    max-width: 100%;
    padding: 10px 0;
}

aside > article > h1 > a {
    font-size: 1rem;
    color: #000000;
}
aside > article > P {
    font-size: 1rem;
    color: #D3D3D3;
}

aside > article > h1 {
    margin-top: 6px;
}

aside h1{
    font-family: Bungee, Arial, Calibri;
}

/*tudo*/

#texto{
    font-family: Bungee, Calibri, Arial;
}

article img{
    border: solid 1px var(--verdim);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

article p {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article h1 {
    color: var(--verdim);
    margin: 10px;
    padding-left: 20%;
    font-size: x-large;
}
input, label, textarea {
    display: block;
    outline: none;
    width: 100%;
}
#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--cinza-claro);
    border-radius: 10px;
    padding: 10px;
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
label {
    font-family: Bungee, Calibri, Arial;
    font-size: 15px;
    color: var(--verdim);
}
.full-box {
    flex: 1 1 100%;
    position: relative;
}
.half-box {
    flex: 1 1 45%;
    position: relative;
}
.spacing {
    margin-right: 2.5%;
}
input, textarea {
    border-bottom: 2px solid var(--verdim);
    padding: 10px;
    margin-bottom: 20px;
}
input:focus, textarea:focus {
    border-color: var(--verdim);
}
input[type="submit"] {
    background-color: var(--escuro);
    color: var(--verdim);
    border: none;
    border-radius: 25px;
    height: 50px;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
}
#agreement {
    margin-right: 5px;
}
#agreement, #agreement-label {
    display: inline-block;
    width: auto;
}
input {
    border-radius: 20px;
    border: var(--verdim) solid 1px;
}

/*address*/
address {
    font-size: 12px;
}

address a{
    font-size: 12px;
}



@media screen and (max-width: 1020px) {
   
    main {
        width: 70%;
    }
    
    aside {
        width: 30%;
    }
    
    .foto {
        flex-direction: column; 
    }
    
    .Principal img {
        margin-right: 0;
        margin-bottom: 24px;
    }

    #Corujão {
        visibility: hidden;
     }
}

@media screen and (max-width: 800px) {
     
    #menu {
        min-height: 88px;
    }
    
    #menu ul {
        margin-top: 50px;
    }
   
    #menu ul li {  
        display: block;
        margin: 0;
    }
    
    #menu a {
        width: 100%;
        display: block;
    }
    
    #menu-contraido {
        margin-top: 45px;
        width: 100%;
    }
    
    #menu-contraido ul {
        display: none;
    }
   
    #menu-contraido input, #menu-contraido span {
        display: block;
        left: 20px;
        top: -42px;
    }
    
    #menu-contraido input:checked ~ ul {
        display: block;
    }

    #Principal {
        flex-direction: column; 
    }
    
    main {
        width: 100%;
    }
    
    aside {
        margin-left: 0;
        width: 100%;
    }
    
    aside > article > h1 {
        text-align: center;
    }
    
    footer {
        flex-direction: column;
    }
    
    footer > * {    
        margin-bottom: 12px;
    }
    
    footer ul li:first-child {
        padding-left: 0;
    }
    
    footer address {
        text-align: right;
    }

    #Corujão {
        visibility: hidden;
     }
}

@media screen and (max-width: 640px) {
    header{
        flex-direction: column;
        align-items: center;
    } 
    
    header img{
        max-width: 100% ;
    }

    main {
        width: 100%;
    }
    
    aside {
        margin-left: 0;
        width: 100%;
    }

    #Corujão {
        visibility: hidden;
     }

}


  
@keyframes deslizar{
    from{ margin-right:0; opacity: 0; }
    50%{ margin-right:20px; transform: rotate(0deg); opacity: 0.5;}
    75%{ margin-right:20px; transform: rotate(0deg); opacity: 1;}
    100%{ margin-right:20px; transform: rotate(0deg); opacity: 5;}
}