
:root {
    --padrao: rgb(238, 207, 30);
    --clara: rgb(245, 239, 239);
    --bordas: rgb(22, 19, 19);
}

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

body{
    background-color: blueviolet;
}

header{
    background-color: var(--padrao);
    padding: 50px;
    border-bottom: solid 2px var(--bordas);
    border-top: solid 3px var(--bordas);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

/* RODAPÉ */
nav {
    padding: 10px;
}
nav ul li {
    display: inline-block;
    margin: 3px;
}
footer nav img{
    width: 30px;
}
footer {
    background-color: aqua;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

/* MENUS */
#menu {
    padding: 0 20px;
}
#menu li{
    margin: 10px;
}
#menu-contraido{
    position:relative;
}

/* PRINCIPAL */
#principal {
    background-color: var(--cor-fundo-clara); 
    padding: 20px;
    display: flex;
    flex-direction: row;
}

/* REDES */
#redes a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#redes a span {
    margin-left: 5px;
    display: none;
}
#redes a:hover span {
    display: inline;
}
#redes {
    display: auto;
}

/* BARRA PESQUISA */
.pesquisa{
    margin-left: 10px;
}
.pesquisa{
    border: 1px solid white;
    height: 35px;
    width: 20px;
    margin: 30px 15px;
}
#barra{
    height: 25px;
    width: 250px;
    margin: 5px;
    color: white;
    border-style: none;
    background-color: darkblue;
    justify-content: center;
}
#barra::placeholder{
    padding-left: 10px;
    color: white;
}
.pesquisa i{
    color: white;
    font-size: 15px;
}